/* ? RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ! Creato clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

* {
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}


/* HEADER */

header {
    background-image: url(../img/jumbo.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 80vh;
}

.margin-center {
    margin: 0 auto;
}

.width-content {
    width: 70%;
}

.display-inline-block {
    display: inline-block;
}

.color-white {
    color: #ffffff;
}

.color-gray {
    color: #23272a;
}

.navbar-header {
    padding: 30px 0px;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 7%;
}

.nav {
    margin: 0 25%;
}

.nav ul li {
    display: inline;
    list-style: none;
    margin: 0 20px;
    vertical-align: sub;
}

.button {
    padding: 10px 20px;
    border-style: none;
    border-radius: 17px;
}

.button-white {
    background-color: #ffffff;
}

.button-gray {
    background-color: #23272a;
}



/* JUMBOTRON */

h1 {
    font-size: 3rem;
    word-spacing: 3px;
}

p {
    font-size: 1.2rem;
    word-spacing: 3px;
}

.text-align-center {
    text-align: center
}

.jumbotron {
    width: 35%;
}

.jumbotron p {
    margin: 50px 0px 40px 0px;
}

.button-big {
    font-size: 1.2rem;
    border-radius: 30px;
    margin: 0 10px;
    padding: 15px 35px;
}

.button-big span {
    padding-left: 10px;
}



/* MAIN */

.main-photo-desc {
    margin-top: 150px;
    height: 80vh;
}

.main-photo-desc img {
    display: inline;
    margin-right: 10%;
    width: 60%;
}

.main-photo-desc div {
    width: calc(100% -  (60% + 10%));
}

.main-photo-desc div p {
    margin-top: 30px;
}

/* Per quelle section che hanno il testo a sx */
.text-left div {
    margin-right: 10%;
}

.text-left img {
    margin: 0;
}


.img-big {
    width: 100%;
}