/* ? RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ! Creato clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Float left */
.float-left {
    float: left;
}


/* Font Implementation */
* {
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}


/* HEADER */
header {
    background-image: url(../img/jumbo.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 80vh;
}

/* Per centrare il contenuto */
.margin-center {
    margin: 0 auto;
}

/* Per dare una with fissa a quello che si vuole */
.width-content {
    width: 70%;
}

.display-inline-block {
    display: inline-block;
}

/* Text Color White */
.color-white {
    color: #ffffff;
}

/* Text Color Gray */
.color-gray {
    color: #23272a;
}

/* Text Color Violet */
.color-violet {
    color: #8ea1e1;
}

.navbar-header {
    padding: 30px 0px;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 7%;
}

/* Per Spaziare a dx e sx della Nav */
.nav {
    margin: 0 25%;
}

.nav ul li {
    display: inline;
    list-style: none;
    margin: 0 20px;
    vertical-align: sub;
}

/* Hover Nav */
.nav ul li:hover {
    border-bottom: 2px solid #8ea1e1;
}

.button {
    padding: 10px 20px;
    border-style: none;
    border-radius: 17px;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #23272a;
}

.bg-violet {
    background-color: #8ea1e1;
}



/* JUMBOTRON */

/* Standard H1 */
h1 {
    font-size: 3rem;
    word-spacing: 3px;
}

/* Standard H2 */
h2 {
    font-size: 2rem;
    word-spacing: 3px;
}

/* Standard P */
p {
    font-size: 1.2rem;
    word-spacing: 3px;
}

.text-align-center {
    text-align: center
}

.jumbotron {
    width: 35%;
}

.jumbotron p {
    margin: 50px 0px 40px 0px;
    line-height: 2rem;
}

/* Per i Bottoni Grandi */
.button-big {
    font-size: 1.2rem;
    border-radius: 30px;
    margin: 0 10px;
    padding: 15px 35px;
}

.button-big span {
    padding-left: 15px;
}



/* MAIN */

.main-photo-desc {
    margin-top: 150px;
    height: 80vh;
}

.main-photo-desc img {
    display: inline;
    margin-right: 10%;
    width: 60%;
    padding: 1.5rem;
}

.main-photo-desc div {
    width: calc(100% -  (60% + 10%));
}

.main-photo-desc div p {
    margin-top: 30px;
    line-height: 1.7rem;
}

.text-desc-main {
    padding-top: 4rem;
}

/* Per quelle section che hanno il testo a sx */
.text-left div {
    margin-right: 10%;
}

.text-left img {
    margin: 0;
}

.h1-contact {
    margin-bottom: 30px;
}

/* Per Mettere Le Immagine Grandi */
.img-big {
    width: 100%;
}

/* Section Sotto Big Image */
.section-adventure {
    width: 30%;
    margin-bottom: 200px;
}

.section-full p {
    width: 50%;
    line-height: 1.7rem;
}

.section-adventure h2 {
    background-image: url(../img/stars.svg);
    background-size: contain;
    margin-bottom: 50px;
}



/* FOOTER */

footer {
    padding: 50px 0;
}

footer div {
    vertical-align: top;
}

/* Bandiera */
.flag-footer {
    width: 20px;
    margin-right: 5px;
}

.footer-il-tuo-posto h2 {
    margin-bottom: 20px;
}

.footer-il-tuo-posto .fas {
    margin-left: 5px;
}

.footer-il-tuo-posto span {
    display: block;
    margin-bottom: 15px;
}

/* Icone Nel Footer */
.footer-social {
    letter-spacing: 25px;
    font-size: 1.2rem;
}

/* Lista nel Footer */
.list-footer {
    margin-left: 10%;
}

.list-footer ul {
    margin-left: 130px;
    display: inline-block;
    vertical-align: top;
}

.list-footer li {
    list-style: none;
    margin-bottom: 10px;
}

/* Section con Logo e Button Registrati */
.section-footer-list {
    border-bottom: 1px solid #8ea1e1;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.bottom-section-footer button{
    float: right;
}